{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">All IoT Devices</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="table-responsive">
                    <table id="iottable" class="table table-striped"
                        data-toggle="table"
                        data-search="true"
                        data-show-columns="true">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="device name">Device Name</th>
                                <th data-sortable="true" data-field="kitchen">Kitchen</th>
                                <th data-sortable="true" data-field="appliance">Appliance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in devices %}
                            <tr>
                                {% if device.kitchenappliancetype == 'Oven' or 'Fridge'%}
                                    <td><a href="{{url_for('iot.showdevice', deviceid=device.iotid)}}">{{device.iotname}}</a></td>
                                {% elif device.kitchenappliancetype == 'Scale' %}
                                    <td><a href="{{url_for('iot.showdevice', deviceid=device.iotid)}}">{{device.iotname}}</a></td>
                                {% endif %}

                                <td><a href="{{url_for('kitchenmanagement.showkitchen', kitchid=device.kitchenid)}}">{{device.kitchen}}</a></td>
                                <td>{{device.kitchenappliancetype}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            ('#iottable').bootstrapTable()
        });
            
    </script>
{% endblock %}
