{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">All IoT Devices</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Device Name</th>
                                <th>Kitchen</th>
                                <th>Appliance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in devices %}
                            <tr>
                                {% if device.kitchenappliancetype == 'Oven' or 'Fridge'%}
                                    <td><a href="{{url_for('iot.showdevice', deviceid=device.iotid)}}">{{device.iotname}}</a></td>
                                {% elif device.kitchenappliancetype == 'Scale' %}
                                    <td><a href="{{url_for('iot.showdevice', deviceid=device.iotid)}}">{{device.iotname}}</a></td>
                                {% endif %}

                                <td><a href="{{url_for('kitchenmanagement.showkitchen', kitchid=device.kitchenid)}}">{{device.kitchen}}</a></td>
                                <td>{{device.kitchenappliancetype}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
{% endblock %}
