{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">All Kitchens</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="table-responsive">
                    <table id="kitchenstable" class="table table-striped"
                        data-toggle="table"
                        data-search="true"
                        data-show-columns="true">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="kitchen name">Kitchen Name</th>
                                <th data-sortable="true" data-field="firstline">First Line of Address</th>
                                <th data-sortable="true" data-field="postcode">Post Code</th>
                                <th data-sortable="true" data-field="numovens">Number of Ovens</th>
                                <th data-sortable="true" data-field="numfridges">Number of Fridges</th>
                                <th data-sortable="true" data-field="numscales">Number of Scales</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for kitchen in kitchens %}
                            <tr>
                                <td><a href="{{url_for('kitchenmanagement.showkitchen', kitchid=kitchen[0].kitchen_id)}}">{{kitchen[0].nickname}}</a></td>
                                <td>{{kitchen[0].line1}}</td>
                                <td>{{kitchen[0].postcode}}</td>
                                <td>{{kitchen[1]}}</td>
                                <td>{{kitchen[2]}}</td>
                                <td>{{kitchen[3]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
    <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            ('#kitchenstable').bootstrapTable()
        });
            
    </script>
{% endblock %}
