{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">All Scales</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="table-responsive">
                    <table id="scalestable" class="table table-striped"
                        data-toggle="table"
                        data-search="true"
                        data-show-columns="true">
                        <thead>
                            <tr>
                                <th data-sortable="true" data-field="scale name">Scale Name</th>
                                <th data-sortable="true" data-field="kitchen">Kitchen</th>
                                <th data-sortable="true" data-field="iot">IoT Device</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for scale in scales %}
                            <tr>
                                <td><a href="{{url_for('kitchenmanagement.showscale', scaleid=scale.applianceid)}}">{{scale.appliancename}}</a></td>
                                <td><a href="{{url_for('kitchenmanagement.showkitchen', kitchid=scale.kitchenid)}}">{{scale.kitchenname}}</a></td>
                                <td><a href="{{url_for('iot.showdevice', deviceid=scale.iotid)}}">{{scale.iotname}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
    <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            ('#scalestable').bootstrapTable()
        });
            
    </script>
{% endblock %}
