{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<main class="page create-kitchen-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Create a Kitchen</h2>
                <p>You can register a kitchen location here, once it's saved you can create appliances for the kitchen and attach IoT Devices to monitor those appliances.</p>
            </div>
            <form method='POST' action='/createkitchen'>
                <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name"></div>
                <div class="mb-3"><label class="form-label" for="subject">Address Line 1</label><input class="form-control" type="text" id="subject" name="subject"></div>
                <div class="mb-3"><label class="form-label" for="email">Address Line 2</label><input class="form-control" type="email" id="email" name="email"></div>
                <div class="mb-3"><label class="form-label" for="email">City</label><input class="form-control" type="email" id="email" name="email"></div>
                <div class="mb-3"><label class="form-label" for="email">Postcode</label><input class="form-control" type="email" id="email-1" name="email"></div>
                <div class="mb-3"><label class="form-label" for="email">Country</label><input class="form-control" type="email" id="email-1" name="email"></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit">Save</button></div>
            </form>
        </div>
    </section>
</main>

{% endblock %}

{% block beforefooter %}
{% endblock %}
