{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">This is a footer placeholder</h2>
            <p>Websites often need to have a lot of extra information and this is placed in the footer for ease of access.</p>
            
            <br><br>
            <div>However, as this is not a requirement for the project - this standard placeholder page and route have been created <br>
            so that the functionality of a footer can be displayed and also allow for future additions with ease.</div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
{% endblock %}
