{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Take control of your Kitchen!</h2>
            <p>Top tip: You can tell your IoT devices to change their behaviour from right here! Go to Manage devices, select the device and tell it what you want...</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box"><i class="icon-puzzle icon"></i><a class="stretched-link, a_nostyle_blacktext" href="/iot/hub" style="text-decoration: none; color: black;">
                    <h4>Manage Devices</h4>
                    <p>Assign devices to locations and digital twins you create of your kitchen</p>
                </a></div>
            <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i><a class="stretched-link" href="/kitchenmanagement/registertwinsmenu" style="text-decoration: none; color: black;">
                    <h4>Kitchen Digital Twin</h4>
                    <p>Create Digital Twins of your kitchens and appliances such as ovens, freezers and grocery item scale, to assign IoT devices to</p>
                </a></div>
            <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i><a class="stretched-link" href="/iot/dashboards" style="text-decoration: none; color: black;">
                    <h4>View Dashboards</h4>
                    <p>View your sensor data in dashboards</p>
                </a></div>
            <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i><a class="stretched-link" href="/admin/createapi" style="text-decoration: none; color: black;">
                    <h4>Register API for Supplier</h4>
                    <p>Create credentials for a supplier to use the APIs to keep track of stock and auto-replenish based on your thresholds</p>
                </a></div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
{% endblock %}
