{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Log In</h2>
            <p>You have not yet signed in, please click the button below to log in using your Microsoft Account<br><br><button class="btn btn-primary" onclick="window.location.href='{{ auth_url }}';">Log In</button></p>
        </div>
    </div>
</section>

{% endblock %}
{% block beforefooter %}
{% endblock %}