{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Oven Details</h2>
        </div>
        <form>
            <div class="mb-3"><label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" readonly value="{{ovendetails.nickname}}">
            </div>
            <div class="mb-3"><label class="form-label" for="kitchen">Kitchen</label>
                <input class="form-control" type="text" id="kitchen" name="kitchen" readonly value="{{kitchendetails.nickname}}">
            </div>
            <div class="mb-3"></div>
            <div class="mb-3"></div>
            <div class="mb-3"></div>
        </form>
    </div>
</section>

{% endblock %}

{% block beforefooter %}

{% endblock %}
