{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">{{kitchen.nickname}}</h2>
            <p>You can register a kitchen location here, once it's saved you can create appliances for the kitchen and attach IoT Devices to monitor those appliances.</p>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <form method='POST' action='/kitchenmanagement/showkitchen/{{kitchen.kitchen_id}}'>
                    <input class="form-control" type="text" id="kitchenid" name="name" readonly hidden value="{{kitchen.kitchenid}}">
                    <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name" readonly value="{{kitchen.nickname}}"></div>
                    <div class="mb-3"><label class="form-label" for="addLine1">Address Line 1</label><input class="form-control" type="text" id="addLine1" name="addLine1" readonly value="{{kitchen.line1}}"></div>
                    <div class="mb-3"><label class="form-label" for="addLine2">Address Line 2</label><input class="form-control" type="text" id="addLine2" name="addLine2" readonly value="{{kitchen.line2}}"></div>
                    <div class="mb-3"><label class="form-label" for="city">City</label><input class="form-control" type="text" id="city" name="city" readonly value="{{kitchen.city}}"></div>
                    <div class="mb-3"><label class="form-label" for="postcode">Postcode</label><input class="form-control" type="text" id="postcode" name="postcode" readonly value="{{kitchen.postcode}}"></div>
                    <div class="mb-3"><label class="form-label" for="country">Country</label><input class="form-control" type="text" id="country" name="country" readonly value="{{kitchen.country}}"></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="defaultKitchen" name="defaultKitchen" {{"checked" if isdefaultkitchen==True}}><label class="form-check-label" for="defaultKitchen" >Default kitchen</label></div>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">Update</button></div>
                </form>
            </div>

            <div class="col-sm-6">
                        {% if ovens|length > 0 %}
                        <h2 class="text-info">Ovens at this Kitchen</h2>
                        <div style="background-color: white; min-height:50px;max-width:500px;box-shadow:0px,2px,10px; padding-left:10px;padding-top:10px;">
                            <row>
                            {% for oven in ovens %}
                                <div class="col-md-6">
                                    <a href="{{url_for('kitchenmanagement.showoven', ovenid=oven.kitchen_appliance_id)}}">{{oven.nickname}}</a>
                                </div>
                            {% endfor %}
                            </row>
                        </div>
                        {% endif %}
                        {% if fridges|length > 0 %}
                        <h2 class="text-info">Fridges at this Kitchen</h2>
                        <div style="background-color: white; min-height:50px;max-width:500px;box-shadow:0px,2px,10px; padding-left:10px;padding-top:10px;">
                            <row>
                                {% for fridge in fridges %}
                                <div class="col-md-6">
                                    <a href="{{url_for('kitchenmanagement.showfridge', fridgeid=fridge.kitchen_appliance_id)}}">{{fridge.nickname}}</a>
                                </div>
                            {% endfor %}
                            </row>
                        </div>
                        {% endif %}
                        {% if scales|length > 0 %}
                        <h2 class="text-info">Scales at this Kitchen</h2>
                        <div style="background-color: white; min-height:50px;max-width:500px;box-shadow:0px,2px,10px; padding-left:10px;padding-top:10px;">
                            <row>
                                {% for scale in scales %}
                                <div class="col-md-6">
                                    <a href="{{url_for('kitchenmanagement.showscale', scaleid=scale.kitchen_appliance_id)}}">{{scale.nickname}}</a>
                                </div>
                            {% endfor %}
                            </row>
                        </div>
                        {% endif %}
            </div>
        </div>
        
        <h3 class="mt-3">Telemetry Dashboards</h3>
        
        <div class="row">
            
                {% for oven in oventelemetry %}
                    <div class="col mt-3">
                        <h5>{{ ovens[loop.index-1].nickname }}</h5>
                        <div id="ovenchart_div{{loop.index}}"></div>
                    </div>
                {% endfor %}
        </div>

        <div class="row">
            
                {% for fridge in fridgetelemetry %}
                    <div class="col mt-3">
                        <h5>{{ fridges[loop.index-1].nickname }}</h5>
                        <div id="fridgechart_div{{loop.index}}"></div>
                    </div> 
                {% endfor %}
        </div>

        <div class="row">
            
                {% for scale in scaletelemetry %}
                    <div class="col mt-3">
                        <h5>{{ scales[loop.index-1].nickname }}</h5>
                        <div id="scalechart_div{{loop.index}}"></div>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
    
{% block beforefooter %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(BuildTelemetryForGoogleCharts);
	
	function BuildTelemetryForGoogleCharts()
    {
        
		{% for item in oventelemetry %}
			var dataset = [];
			{% for result in item %}
                    resultarray = [];
                    resultarray.push({{result[0]|tojson|safe}});
                    resultarray.push(parseFloat({{result[1]|tojson|safe}}));
                    resultarray.push(parseFloat({{result[2]|tojson|safe}}));

                    dataset.push(resultarray)
			{% endfor %}
            drawBasic(dataset, "ovenchart_div{{loop.index}}")
		{% endfor %}
		
		{% for fridge in fridgetelemetry %}
            var dataset = [];
			{% for result in fridge %}
                    resultarray = [];
                    resultarray.push({{result[0]|tojson|safe}});
                    resultarray.push(parseFloat({{result[1]|tojson|safe}}));
                    resultarray.push(parseFloat({{result[2]|tojson|safe}}));

                    dataset.push(resultarray)
			{% endfor %}
            drawBasic(dataset, "fridgechart_div{{loop.index}}")
		{% endfor %}
		
		{% for scale in scaletelemetry %}
            var dataset = [];
			{% for result in scale %}
                    resultarray = [];
                    resultarray.push({{result[0]|tojson|safe}});
                    resultarray.push(parseFloat({{result[1]|tojson|safe}}));

                    dataset.push(resultarray)
			{% endfor %}
            drawBasic(dataset, "scalechart_div{{loop.index}}")
		{% endfor %}
        
    }
    
    function drawBasic(datasets, divname) {

        var dataset = datasets
        console.log(dataset)
        var data = new google.visualization.DataTable();
        var options;

        if(divname.includes('scale'))
        {
            data.addColumn('string', 'X');
            data.addColumn('number', 'weight');
            data.addRows(dataset)

            options = {
                hAxis: {
                title: 'Time',
                direction:-1, 
                slantedText:true, 
                slantedTextAngle:90
                },
                vAxis: {
                title: 'Weight'
                },
                legend: 'none'
            };
        }
        else
        {
            data.addColumn('string', 'X');
            data.addColumn('number', 'tempC');
            data.addColumn('number', 'tempF');
            data.addRows(dataset)

            options = {
                hAxis: {
                title: 'Time',
                direction:-1, 
                slantedText:true, 
                slantedTextAngle:90
                },
                vAxis: {
                title: 'Temperature'
                },
                legend: 'none'
            };
        }
        
        var chart = new google.visualization.LineChart(document.getElementById(divname));

        chart.draw(data, options);
	}

    $(document).ready(function(){
        BuildTelemetryForGoogleCharts();
    });
</script>
{% endblock %}
