{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Support</h2>
            <p>Please contact the application administrator for support</p>
            <p><strong>sevmirazure@gmail.com</strong></p>
            <br><br>
            <div>If you are a City, University of London marker and need credentials to access and assess the site <br>
            It is recommended that you contact the student directly via their university email or registered telephone number</div>
        </div>
    </div>
</section>

{% endblock %}

{% block beforefooter %}
{% endblock %}
